<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-neweaten="{{devoured}}">
		{{#if devoured}}Devour it!{{else}}Regurgitate?{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Destroy!</button>
</li>
